[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui
[submodule "submodules/glad"]
	path = submodules/glad
	url = https://github.com/Dav1dde/glad
[submodule "SDL"]
	path = submodules/SDL
	url = https://github.com/libsdl-org/SDL/
[submodule "glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw
